h2{
	text-align: center;
	text-decoration: underline;

}
label{
	text-align: center;
	text-decoration: underline;

}
input{
	text-align: center;
	text-decoration: underline;
}
div.lien{
	color: grey;

}